 /* For the search box */
 .center-text{
  text-align: center;
}
.a-card{
  margin-top: 5px;
}
/* Style for error notification */

.chip{
  background: rgb(96, 159, 179);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.item{
  margin: 10px;
}
